#
#  Copyright 2015 VMware, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
---
nsxmanager_spec: 
  raml_file: '/opt/chaperone-ansible/roles/nsx/files/nsxvapiv614.raml'
  host: "{{ deployMgmtIpAddress }}"
  user: 'admin'
  password: "{{ nsxCliPass }}"

{% if numControllers == 3 %}
controllerDeployType: "full"
{% elif numControllers == 1 %}
controllerDeployType: "single"
{% endif %}

{% if deploy_nsx == '1' %}
{% set configure_nsx_manager = '1' %}
deployMgmtDnsServer: "{{ dns_server }}"
deployMgmtDnsDomain: "{{ dns_domain_name }}"
deployNtpServers: "{{ ntp_server }}"
deploySyslogServer: "{{ syslog_server }}"
deployHostname: "{{ deployVmName }}.{{ dns_domain_name }}"
nsxEnPass: "{{ nsxCliPass }}"
nsxmanOvaPath: '/var/www/html/downloads'
nsxmanOva: 'VMware-NSX-Manager-6.1.4-2691049.ova'
ovfToolPath: '/usr/local/bin/ovftool'
{% endif %}
{% if configure_nsx_manager == '1' %}
controllerSyslogServer: "{{ syslog_server }}"
nsxIppools:
  controller:
    name: 'CONTROLLER'
    start_ip: "{{ controllerIPpoolStartAddr }}"
    end_ip: "{{ controllerIPpoolEndAddr }}"
    prefix_length: "{{ controllerIPpoolPrefix }}"
    gateway: "{{ controllerIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ controllerIPpoolSecondDns }}"
  vteps:
    name: 'VTEP'
    start_ip: "{{ vtepIPpoolStartAddr }}"
    end_ip: "{{ vtepIPpoolEndAddr }}"
    prefix_length: "{{ vtepIPpoolPrefix }}"
    gateway: "{{ vtepIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ vtepIPpoolSecondDns }}"
targetClusters:
  cluster1:
    clusterName: "{{ hostPrepClusterA }}"
  cluster2:
    clusterName: "{{ hostPrepClusterB }}"
{% if mcastIsEnabled == '1' %}
mcastEnabled: True
{% elif mcastIsEnabled == '0' %}
mcastEnabled: False
{% endif %}
{% elif (configure_nsx_manager == '1') and (deploy_nsx == '0') %}
controllerSyslogServer: "{{ syslog_server }}"
nsxIppools:
  controller:
    name: 'CONTROLLER'
    start_ip: "{{ controllerIPpoolStartAddr }}"
    end_ip: "{{ controllerIPpoolEndAddr }}"
    prefix_length: "{{ controllerIPpoolPrefix }}"
    gateway: "{{ controllerIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ controllerIPpoolSecondDns }}"
  vteps:
    name: 'VTEP'
    start_ip: "{{ vtepIPpoolStartAddr }}"
    end_ip: "{{ vtepIPpoolEndAddr }}"
    prefix_length: "{{ vtepIPpoolPrefix }}"
    gateway: "{{ vtepIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ vtepIPpoolSecondDns }}"
targetClusters:
  cluster1:
    clusterName: "{{ hostPrepClusterA }}"
  cluster2:
    clusterName: "{{ hostPrepClusterB }}"
{% if mcastIsEnabled == '1' %}
mcastEnabled: True
{% elif mcastIsEnabled == '0' %}
mcastEnabled: False
{% endif %}
{% endif %}

