# Copyright 2015 VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
---
nsxmanager_spec: 
  raml_file: '/opt/chaperone-ansible/roles/nsx/files/nsxvapiv614.raml'
  host: "{{ deployMgmtIpAddress }}"
  user: 'admin'
  password: "{{ nsxCliPass }}"

{% if numControllers == '3' %}
controllerDeployType: 'full'
{% elif numControllers == '1' %}
controllerDeployType: 'single'
{% endif %}

{% if deploy_nsx == '1' %}
{% set configure_nsx_manager = '1' %}
deployMgmtDnsServer: "{{ dns_server }}"
deployMgmtDnsDomain: "{{ dns_domain_name }}"
deployNtpServers: "{{ ntp_server }}"
deploySyslogServer: "{{ syslog_server }}"
deployHostname: "{{ deployVmName }}.{{ dns_domain_name }}"
nsxEnPass: "{{ nsxCliPass }}"
nsxmanOvaPath: '/var/www/html/downloads'
nsxmanOva: 'VMware-NSX-Manager-6.1.4-2691049.ova'
ovfToolPath: '/usr/local/bin/ovftool'
{% endif %}
{% if configure_nsx_manager == '1' %}
controllerSyslogServer: "{{ syslog_server }}"
nsxIppools:
  controller:
    name: 'CONTROLLER'
    start_ip: "{{ controllerIPpoolStartAddr }}"
    end_ip: "{{ controllerIPpoolEndAddr }}"
    prefix_length: "{{ controllerIPpoolPrefix }}"
    gateway: "{{ controllerIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ controllerIPpoolSecondDns }}"
  vteps:
    name: 'VTEP'
    start_ip: "{{ vtepIPpoolStartAddr }}"
    end_ip: "{{ vtepIPpoolEndAddr }}"
    prefix_length: "{{ vtepIPpoolPrefix }}"
    gateway: "{{ vtepIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ vtepIPpoolSecondDns }}"
targetClusters:
  cluster1:
    clusterName: "{{ hostPrepClusterA }}"
  cluster2:
    clusterName: "{{ hostPrepClusterB }}"
{% if mcastIsEnabled == '1' %}
mcastEnabled: True
{% elif mcastIsEnabled == '0' %}
mcastEnabled: False
{% endif %}
{% elif (configure_nsx_manager == '1') and (deploy_nsx == '0') %}
controllerSyslogServer: "{{ syslog_server }}"
nsxIppools:
  controller:
    name: 'CONTROLLER'
    start_ip: "{{ controllerIPpoolStartAddr }}"
    end_ip: "{{ controllerIPpoolEndAddr }}"
    prefix_length: "{{ controllerIPpoolPrefix }}"
    gateway: "{{ controllerIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ controllerIPpoolSecondDns }}"
  vteps:
    name: 'VTEP'
    start_ip: "{{ vtepIPpoolStartAddr }}"
    end_ip: "{{ vtepIPpoolEndAddr }}"
    prefix_length: "{{ vtepIPpoolPrefix }}"
    gateway: "{{ vtepIPpoolGateway }}"
    dns_server_1: "{{ dns_server }}"
    dns_server_2: "{{ vtepIPpoolSecondDns }}"
targetClusters:
  cluster1:
    clusterName: "{{ hostPrepClusterA }}"
  cluster2:
    clusterName: "{{ hostPrepClusterB }}"
{% if mcastIsEnabled == '1' %}
mcastEnabled: True
{% elif mcastIsEnabled == '0' %}
mcastEnabled: False
{% endif %}
{% endif %}

